<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>NewsFeeder</title>
</head>
<body>
<h1 class="title">NewsFeeder</h1>
{% block content%}
  <div class="articles">
  {% for article in articles %}
      <article>
        <header>
          <h2 class="title">
            <a class="title-link" href="{{ article['link'] }}" target="_blank" rel="noopener noreferrer">
              {{ article['title'] }}
            </a>
          </h2>
          <p>
          {% if article['icon'] is not none %}
            <img src="{{ article['icon'] }}" class="site-icon" alt="{{ article['site'] }} icon">
          {% endif %}
              <abbr title="{{ article['published'] }}">{{ article['published_since'] }}</abbr> ago
          {% if article['author'] is not none %}
            by
            {% if article['author_email'] is not none %}
                <abbr title="{{ article['author_email'] }}">{{ article['author'] }}</abbr>
            {% else %}
                {{ article['author'] }}
            {% endif %}
          {% endif %}
          </p>
        </header>
        {% if article['thumbnail'] is not none %}
          <a href="{{ article['link'] }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ article['thumbnail'] }}" alt="{{ article['title'] }}">
          </a>
        {% endif %}
        <p class="summary">{{ article['summary'] }}</p>
        <a href="{{ article['link'] }}" target="_blank" rel="noopener noreferrer" class="link">Read on {{ article['site'] }}</a>
      </article>
    {% endfor %}
  </div>
{% endblock %}
<h2 class="next-page">
  <a href="{{ url_for('feed.get_feed', sites=sites, n_articles=n_articles, last_article_published=last) }}" class="link">Next page...</a>
</h2>
</body>
</html>