body {
  font-family: 'Helvetica', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

h1 {
  margin: .5rem;
}

img {
  max-width: 100%;
  height: auto;
}

article {
  margin: 0 .5em 1em;
  display: inline-block;
  flex-basis: 28em;
  flex-grow: 1;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.summary {
  line-height: 1.5;
}

.next-page {
  text-align: center;
  margin-bottom: 1em;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  .title-link:link {
    color: black;
    text-decoration: none;
  }

  .title-link:visited {
    color: black;
    text-decoration: none;
  }

  .title-link:hover {
    color: black;
    text-decoration: none;
  }

  .title-link:active {
    color: black;
    text-decoration: none;
  }

  article {
    border-top: 1px solid black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #262628;
    color: #afafaf;
  }

  .title {
    color: white;
  }

  .title-link:link {
    color: white;
    text-decoration: none;
  }

  .title-link:visited {
    color: white;
    text-decoration: none;
  }

  .title-link:hover {
    color: white;
    text-decoration: none;
  }

  .title-link:active {
    color: white;
    text-decoration: none;
  }

  article {
    border-top: 1px solid white;
  }

  .link:link {
    color: #be0000;
  }

  .link:visited {
    color: #930000;
  }

  .link:hover {
    color: #e00000;
  }

  .link:active {
    color: #e00000;
  }
}